MyProject2/Binaries
MyProject2/DerivedDataCache
MyProject2/Intermediate
MyProject2/Saved
MyProject2/MyProject2.sdf
MyProject2_4.11
MyProject2/Logs
MyProject2/Plugins/OSVR
MyProject2/Plugins/JoystickPlugin
MyPro
.DS_Store
Intermediate
*.pdb